name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake g++

      - name: Configure
        run: cmake -S . -B build

      - name: Build
        run: cmake --build build

      - name: Package
        run: |
          cd release
          cpack

      - name: Test
        run: |  
          echo "Expected hash: 24e7a7b2270daee89c64d3ca5fb3da1a"
          RESULT=$(cat ./ip_filter.tsv | ./ip_filter | md5sum | awk '{print $1}')
          echo "Actual hash:   $RESULT"
          test "$RESULT" = "24e7a7b2270daee89c64d3ca5fb3da1a"


