
name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y cmake g++

    - name: Configure
      run: cmake -S . -B build

    - name: Build
      run: cmake --build build

    - name: Test
      run: |
        cat ./ip_filter.tsv | ./build/ip_filter | md5sum
        cat ./expected.txt | md5sum


